<h1>Reestablecer contraseña</h1>
<form action="/resetpassword" method="post">
    <label for="Email">email</label>
    <input type="email" name="Email" placeholder="email"><br>
    <label for="Password">password</label>
    <input name="Password" type="password" placeholder="password"><br>
    <button type="submit">Reestablecer contraseña!</button>
</form>
<p>Ya la recordaste? Volvé a intentar el <a href="/login">login</a>.</p>